*{
  margin:0;
  text-align: center;
}
html,body{
  height:100%;
  font-family: "Varela Round", sans-serif;
}
a, a:link, a:visited{
  text-decoration:none;
  color: #0B5FA7;
}
h3{
  margin-top: 10px;
}
h2{
  margin-bottom: 5px;
}
/*TOP NAV BAR*/
nav{
  font-family: "Shadows Into Light", "Varela Round";
  font-size: 50px;
  background: #333844;
  color: #B4CD35;
  text-align: left;
}
  nav a{
    /*text-align: left;*/
    margin-left: 10px;
  }
  nav a:link, nav a:visited{
    color: #B4CD35;
  }
  nav span{
    color: #fff;
  }
  nav span:hover{
    color: #B4CD35;
    transition: .5s;
  }
/*HEAD BAR*/
.headbar{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
  width:100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images.alphacoders.com/698/thumb-1920-698555.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
/*FOOTER*/
.wrapper{
  min-height: 100%;
  margin-bottom: 50px;
}
footer,.push{
  height:50px;
}
footer{
  border-top: 2px solid #DBDBDB;
  padding-top: 10px;
}

/*LEADERBOARD TABLE*/
table {
    display:flex;
    justify-content: center;
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
td a:link, td a:visited{
  color:#B4CD35;
}
td a:hover{
  text-decoration: underline;
}
tr:nth-child(even) {
    background-color: #F7F7F7;
}
